# ========================
# ENV FILES
# ========================
.env
.env.*

# ========================
# PYTHON CACHE
# ========================
__pycache__/
*.py[cod]
*$py.class

# ========================
# VIRTUAL ENV
# ========================
venv/
env/
.venv/

# ========================
# LOGS
# ========================
*.log

# ========================
# FLASK / INSTANCE
# ========================
instance/

# ========================
# DATABASES LOCAL
# ========================
*.sqlite3
*.db

# ========================
# IDEs
# ========================
.vscode/
.idea/

# ========================
# OS FILES
# ========================
.DS_Store
Thumbs.db

# ========================
# MIGRATIONS (Flask-Migrate / Alembic)
# ========================
migrations/
